body{
    background: #FFCCE5;
    color: purple;
}

/*SELECTOR UNIVERSAL
*{
    margin: 2;
    qwdfghjkl;
}*/

h2,h3,h4{
    color: deeppink ;
   
    
}
h1{
    color: black;
    font-size: 50px;
    background: lightpink;
}
h2{
    font-size: 30px;
    
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}

p{
    color:black;
    font-size:20px;  
}

.yellow{
    color: purple;
}
#test {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: blue;
}

#tutorials ul  li {
    color: black;
    
    
    
}


#tutorials2 ol  li {
    color: black;
    
}
p[id] {
    background: yellow;
}


/*Imagenes*/
div {
    background: #ccc;
    width: 800px;
}

imagen {
    width: 200px;
    border-radius: 50%;
}




